/* .quad-win__item {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: black solid 2px;
    align-items: center;
    text-align: center;
    line-height: 200px;

}

.quad-win {
    margin: 0 auto;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

} */